// font-family: 'Roboto', sans-serif;
@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", arial, sans-serif;
  font-size: 12px;
}

.cv_container {
  background-color: #eee;

  //Header
  .cv_about {
    display: flex;
    width: 100vw;
    padding: 2% 0;
    border-bottom: 4px solid cadetblue;
    .image {
      position: relative;
      width: 70%;
      top: 0;
      left: 0;
      display: flex;
    }
    .cv_name {
      position: relative;
      top: 20%;
      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 2rem;
      }
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
      border-radius: 50%;
    }
    aside {
      width: 30%;
      padding-top: 10%;
      font-size: 1rem;
    }
  }
  section {
    display: flex;
    flex-direction: column;
    h3,
    h4 {
      display: inline-block;
      color: cadetblue;

      min-width: 30vw;
    }
    h3 {
      font-style: italic;
    }
  }
  section {
    h4 {
    }
  }
}
