// font-family: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", arial, sans-serif;
  // font-size: 12px;
}

.cv_container {
  background-color: #eee;

  .cv_about {
    //Header
    display: flex;
    flex-direction: column;
    width: 100vw;
    border-bottom: 4px solid cadetblue;
    .cv_name {
      section {
        h1 {
          font-size: 3rem;
        }
      }
    }
    img {
      display: block;
      max-width: 305px;
      max-height: 386px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 45%;
    }
  }
  section {
    display: flex;
    flex-direction: column;
    h3,
    h4 {
      display: inline-block;
      color: cadetblue;

      min-width: 30vw;
    }
    h3 {
      font-style: italic;
    }
    h4 {
      font-size: ;
    }
  }
  section {
    h4 {
    }
  }
}
